* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

:root {
    --main-background: #151921;
    --bottom-toolbar-background: #282828;
    --header-background: #0d0f14d8; 
}

/* UTILIY STYLING */

.round {
    border-radius: 50%;
}

.cut-corners {
    border-radius: 20px;
}

.rounded-sides {
    border-radius: 4px;
}

.white {
    color: #fff;
}

ul {
    list-style: none;
}

.thumbnail {
    width: 100%;
}

.control-icons {
    height: 6vh;
    width: 3vw;
}

.expand {
    width: 100%;
}

.center {
    place-self: center;
}

.white-fill {
    fill: #fff;
}

.link-reset {
    text-decoration: none;
}

.right-wrapper {
    max-width: 250px;
    margin-left: auto;
    margin-right: 14rem;
    padding: 3rem 1rem;
}

.left-wrapper {
    max-width: 250px;
    margin-left: 22rem;
    margin-right: auto;
    padding: 3rem 1rem;
}

h2 {
    font-variant-caps: all-small-caps;
}

/* DEBUGGING */

body {
    background-color: blueviolet;
}

/* TOP LEVEL LAYOUT */

body {
    display: grid;
    grid-template-columns: 1fr 15fr;
    width: 100vw;
    height: 100vh;
}

/* LEFT MENU */

.left-menu {
    background: linear-gradient(135deg, hsla(197, 100%, 63%, 1) 0%, hsla(340, 100%, 84%, 1) 57%);
    padding: 1rem;
    display: grid;
    align-content: space-between;
}

/* MAIN BODY */

.main-body {
    background-color: greenyellow;
    overflow: scroll;
}

.main-body header {
    background-image: url(assets/backgrounds/white-and-medium-purple.png);
    background-size: cover;
    display: grid;
    place-content: center;
}

.take-away {
    display: grid;
    justify-content: right;
    background-image: url(assets/backgrounds/black-and-blue.png);
    background-size: cover;
}

.link-reset h2:hover {
    text-decoration: wavy underline #ffaec9;
    text-shadow: #16E0BD 1px 0 10px;
}

.link-reset h2:active {
    text-decoration: wavy underline #ffaec9;
    text-shadow: #16E0BD 1px 0 10px;
    transform: translateY(5px);
}

.contact {
    background-image: url(assets/backgrounds/white-and-middle-blue.png);
    background-size: cover;
    color: #17454A;
}

/* PAGE NAVIGATION */

.navigation {
    position: fixed;
    right: 5%;
    top: 5%;
}

.navigation li {
    margin-bottom: 10px;
    background-color: #0A122A;
    text-align: center;
    padding: .3rem;
}

.navigation ul::before {
    position: absolute;
    content: '';
    width: 3px;
    top: 0;
    left: 50%;
    height: 85%;
    background-color: #97DFFC;
    z-index: -1;
}


/* MOBILE RESIZE */

@media screen and (max-width: 1540px) {
    body {
        grid-template-columns: 1.5fr 15fr;
    }
}

@media screen and (max-width: 835px) {
    body {
        grid-template-columns: 2fr 15fr;
    }
}

@media screen and (max-width: 758px) {
    body {
        grid-template-columns: 2.5fr 15fr;
    }
}