/* FULL BODY BACKGROUND */

body {
    background-image: url(../assets/backgrounds/white-and-middle-blue.png);
    background-size: cover;
}


/* HEADER */

.main-body header {
    grid-area: header;
    background-size: cover;
    display: grid;
    place-content: center;
    padding: 1rem;
}

/* FORM */

.form-container{
    display: grid;
    place-content: center;
    padding: 5rem;
}

form {
    background-color: #fff;
    display: grid;
    justify-content: center;
    padding: 30px;
    border-radius: 12px;
    min-height: 600px;
    max-width: 800px;
    grid-gap: 10px;
    grid-template-columns: 400px;
    background: none;
}
  
form > * {
    border: none;
    background: none;
}
    
hr {
    border: 1px solid #b6b6b6;
    height: 1px;
}

form p > * {
    border: none;
}